// colours
$color-base-white : #ffffff; // used in header bg
$color-base-black : #000000; // used in text
$color-base-mute-gray : #dddddd; // colour used in search bar border/text and item shadows

// fonts
$base-font-size : 16px;
$base-icon-size : 20px;
$icon-size-20 : $base-font-size + 20;