.gallery-grid {
  width: 980px;
  margin: 0 auto;
  @include display-flex();
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);
  .gallery-item {
    width: calc((200 / 980) * 100%);
    margin-bottom: calc((60 / 980) * 100%);
    img {
      width: auto;
    }
  }
}
