.gallery {
  list-style: none;
  max-width: 980px;
  margin: 90px auto 0 auto;
  @include display-flex();
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(flex-start);
  .gallery__item {
    max-width: 200px;
    height: auto;
    margin: 30px;
    a {
      display: block;
      width: auto;
      min-height: 100%;
    }
    img {
      width: 200px;
    }
  }
}
