#woodbox__overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  margin: auto;
  overflow: hidden;
  #woodbox__inner {
    position: relative;
    margin: 0 auto;
    top: 50%;
    @include translateY(-50%);
    width: 100%;
    height: 80%;
    text-align: center;
    .woodbox__media-wrap {
      max-width: 250px;
      min-height: 285px;
      position: absolute;
      margin-left: auto;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      .woodbox__media-title {
        display: inline-block;
        padding-bottom: 10px;
        float: left;
        font-size: $base-font-size + 8;
      }
      .woodbox__media-image {
        clear: both;
        height: auto;
        max-width: 250px;
        background: $color-base-white;
        margin: 0;
        padding: 0;
        @include box-shadow(lighten($color-base-black, 25%) 0 0 15px);
        overflow: hidden;
      }
      .woodbox__media-video {
        clear: both;
        height: auto;
        max-width: 250px;
        background: $color-base-white;
        margin: 0;
        padding: 0;
        @include box-shadow(lighten($color-base-black, 25%) 0 0 15px);
        overflow: hidden;
      }
      .woodbox__media-caption {
        padding-top: 10px;
        width: 98%;
        text-align: center;
        font-size: $base-font-size;
      }
      #woodbox__media-close {
        display: inline-block;
        float: right;
        position: relative;
        top: 0;
        right: -20px;
        font-size: $base-icon-size;
        color: $color-base-white;
        cursor: pointer;
        &:hover {
          color: $color-base-mute-gray;
        }
        &:active {
          color: darken($color-base-mute-gray, 10%);
        }
      }
    }
    #woodbox__media-previous,
    #woodbox__media-next {
      position: absolute;
      display: inline-block;
      top: 45%;
      @include translateY(-45%);
      font-size: $base-icon-size;
      color: $color-base-white;
      cursor: pointer;
      &:hover {
        color: $color-base-mute-gray;
      }
      &:active {
        color: darken($color-base-mute-gray, 10%);
      }
    }
    #woodbox__media-previous {
      left: 10px;
    }
    #woodbox__media-next {
      right: 10px;
    }
  }
}